:root {
    --color-white: #fff;
    --color-gray-white: #f7f7f7;
    --color-primary-header: #a6b2c9;
    --bg-primary: #1a191f;
    --layout-primary: #222028;
    --placeholder-color: #a7a4aa;
    --yellow-primary: #f9ab00;
    --blue-toast: #3ab4da;
    --error-toast: #f43535;
    --warn-toast: #ff9800;
    --success-toast: #3fd02a;
    --color-error: red;
}   

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

input, button {
    transition: 0.4s;
}

button, a {
    cursor: pointer;
}

a {
    text-decoration: 'none';
}
  
//Layout styles
.d-flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column !important
}

.df-justify-center {
    justify-content: center !important;
}   

.df-justify-start {
    justify-content: start !important;
}

.df-justify-end {
    justify-content: end !important;
}

.df-align-center {
    align-items: center !important;
}

.df-align-start {
    align-items: flex-start !important;
}

.df-align-end {
    align-items: flex-end !important;
}

.flex-shrink-0 {
    flex-shrink: 0 !important;
}
// size styles
.h-100 {
    height: 100% !important;
}

.w-100 {
    width: 100% !important;
}

// padding styles
.p-3 {
    padding: 3rem !important;
}

.px-3 {
    padding: 0 3rem !important;
}

.py-3 {
    padding: 3rem 0 !important;
}

// margin styles
.mt-2 {
    margin-top: 2rem !important;
}

.mb-2 {
    margin-bottom: 2rem !important;
}

.mt-1 {
    margin-top: 1rem !important;
}

// style library custom scrollbar 
.theme-custom-scrollbar{
    cursor: pointer;
    border-radius: inherit;
    background-color: #f9ab00;
}