
.warapper {
    height: 100vh;
}

.box {
    width: 80%;
    height: 21.25rem;
    background-color: var(--color-gray-white);
    border-radius: 8px;

    text-align: center;
}

.header-text {
    font-size: 1.875rem;
    color: var(--color-primary-header);
}

.color-white {
    color: #fff;
}