
.container {
    position: fixed;
    width: 280px;
    height: 100vh;
    background-color: var(--bg-primary);

    border-right: 1px solid var(--layout-primary);
}

.logo {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid var(--layout-primary);
}

// css SIDEBAR USER

.user {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    border-bottom: 1px solid var(--layout-primary);
    padding: 20px 15px;
}

.sb-user-image {
    width: 40px;
    height: 40px;

    border-radius: 6px;
    overflow: hidden;

    margin-right: 15px;

    img {
        width: 100%;
        height: 100%;

        vertical-align: middle;
        border-style: none;
    }
}

.sb-user-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    color: var(--color-white);

    height: 40px;

    span {
        color: rgba(255,255,255,0.7);
        font-size: 10px;
    }

    p {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 0;

        width: 130px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.sb-nav-warpper {
    height: calc(100vh - 230px);
}

.sb-navbar-list {
    padding: 30px 0;
    width: 100%;
    height: calc(100% - 60px);
    margin: 0;
    list-style: none;
}

.sb-navbar-item {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    position: relative;
}

.sb-link {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    text-decoration: none;
    color: var(--color-white);

    font-size: 14px;
    text-transform: uppercase;
    padding: 0 30px;

    transition: all .4s ease;
    user-select: none;

    span {
        margin-left: 15px;
    }

    &.active, &:hover {
        color: var(--yellow-primary);
    }

    &.active {
        cursor: default;
    }
}

.sb-copyright {
    padding: 0 30px 20px;
    padding-top: 17px;

    color: rgba(255,255,255,0.6);
    font-size: 12px;
    letter-spacing: 0.4px;
    line-height: 15px;

    border-top: 1px solid var(--layout-primary);

    a {
        color: #f9ab00;
        transition: 0.4s;
        transition-property: color, background-color, border-color, opacity;
        text-decoration: none;
        background-color: transparent;
        margin-left: 5px;

        &:hover {
            text-decoration: underline;
        }
    }
}

