.title-form {
    width: auto;
    font-size: 18px;
    font-weight: 600;
    color: var(--yellow-primary);
}

.wrapper-image {
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
    grid-gap: 20px;
    margin: 10px 0;
}

.layout-image {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 400px;
    background-color: #222028;
    border-radius: 6px;

    cursor: pointer;
    user-select: none;
    overflow: hidden;
   
    div, svg {
        transition: all .35s ease;
    }

    &:hover {
        div {
            color: var(--color-primary-header);
        }

        svg {
            stroke: var(--color-primary-header);
            fill: var(--color-primary-header);
        }
    }
}

.button-remove {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    top: 10px;
    right: 10px;

    width: 40px;
    height: 40px;

    border-radius: 999px;
    background-color: var(--layout-primary);
    transition: all .35s ease;

    &:hover {
        opacity: .8;
    }
}

.layout-crop-image {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .cropper-image {
        width: 50vw;
        height: 100%;
    }
}

.wrapper-modal-edit {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    z-index: -9999;
    transition: all 0.3s step-end;

    &.open {
        z-index: 9999;
        transition: all 0.3s step-start;
    }
}

.modal-edit {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;

    width: 95%;
    height: 95%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    background: var(--layout-primary);
    border-radius: 8px;
}


.layout-preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
