

.input-search {
    border: none;
    height: 40px;
    color: #fff;
    padding: 0 50px 0 20px;
    border-radius: 6px;
    background-color: #222028;
    font-size: 14px;
    border: 2px solid transparent;
    font-family: 'Play', sans-serif;
    margin-left: 20px;

    &:focus {
        border-color: var(--yellow-primary);
    }

    &::placeholder {
        color: rgba(255,255,255,0.7);
        font-family: 'Play', sans-serif;
    }
}


.button-icon {
    position: absolute;
    z-index: 1;
    top: calc(100% / 6);
    right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: #fff;

    cursor: pointer;
    
    svg {
        transition: all .35s ease;
    }

    &:hover {
        & svg {
            fill: var(--yellow-primary);
        }
    }
}