

.group-checkbox {
    position: relative;

    width: 100%;
    text-align: left;

    & input:not(:checked) + label:after {
        opacity: 0;
        transform: scale(0);
    }
}

#input-checkbox {
    position: absolute;
    left: -9999px;
}

.lable-checkbox {
    display: inline-block;

    font-size: 14px;
    color: var(--color-white);

    font-weight: normal;
    position: relative;
    user-select: none;
    cursor: pointer;

    padding-left: 37px;
    margin: 0;
    line-height: 22px;

    &::before {
        content: '';
        position: absolute;

        left: 0;
        top: 0;

        width: 22px;
        height: 22px;

        background-color: var(--layout-primary);
        border-radius: 6px;
    }

    &::after {
        font-family: 'Material Symbols Outlined';
        content: '\e5ca';

        position: absolute;
        left: 0;
        top: 0;

        width: 22px;
        height: 22px;
        font-size: 16px;
        line-height: 22px;

        text-align: center;
        transition: 0.4s;
        color: var(--yellow-primary);
    }

}