
.custom-input {
    width: calc(100% - 40px);
    height: 46px;

    background-color: var(--layout-primary);
    border: 2px solid transparent;

    color: var(--color-white);

    font-size: 16px;
    border-radius: 6px;
    padding: 0;
    padding: 0 20px;

    appearance: none;
    box-shadow: none;
    font-family: 'Play', sans-serif;
    
    &::placeholder {
        color: var(--placeholder-color);
        font-family: 'Play', sans-serif;
    }

    &:focus {
        border-color: var(--yellow-primary);
    }

    
}