
.custom-input {
    width: 100%;
    height: 46px;

    background-color: var(--layout-primary);
    border: 2px solid transparent;

    color: var(--color-white);

    font-size: 16px;
    border-radius: 6px;
    padding: 0;
    padding: 0 20px;

    appearance: none;
    box-shadow: none;
    font-family: 'Play', sans-serif;
    box-sizing: border-box;

    &::placeholder {
        color: var(--placeholder-color);
        font-family: 'Play', sans-serif;
    }

    &:focus {
        border-color: var(--yellow-primary);
    }
}

.message-error {
    font-style: italic;
    color: #e04d4d;
}